@font-face {
    font-family: sequel;
    src: url(./assets/sequel-100-black-85.ttf);
}
h1, h2, h3, a, p, span {
  /* font-family: "Rubik", sans-serif; */
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
  color: rgb(167, 167, 167);;
  margin: 0px;
}
.header::-webkit-scrollbar {
  display: none;
}

.header {
    display: flex;
    min-width: 100%;
    height: 100vh;
    padding-left: 5.6rem;
    position:relative;
}

.badger-class {
    color: rgb(135,113,220);
    font-size: 1.2rem;
    padding: 4px 10px;
    border: solid 1px;
    border-color: #9d84ff;
    border-radius: 40px;
    margin-bottom: 6rem;
    width: fit-content;
    font-weight: 500;
    

}
.submit-formulario {
    background-color: hsla(0, 0%, 100%, 0.04);
    color: white;
    border: 1px solid #9d84ff;
    padding: 1rem 1.6rem;
    border-radius: 1rem;
    transition: 0.5s ease;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    cursor: pointer;
    
}
.lds-dual-ring {
  
  display: none;
 align-self: center;

  width: 30px;
  height: 30px;
}
.lds-dual-ring:after {
  
  
    content: " ";
  display: block;
  width: 30px;
  height: 30px;
  
  border-radius: 50%;
  border: 6px solid #9d84ff;
  border-color: #9d84ff transparent #9d84ff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}


@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.left-side {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: drop-in 1200ms ease 500ms backwards;
}
.tituloh1{
    font-family: sequel;
    font-weight: 400;
    font-size: 7rem;
    color: white;
    line-height: 6rem;
    max-width: 7ch;
}
.padding-top{
    height: 10rem;
}
.emailText {
    color: #9d84ff;
    
}
.arrowIcon{
    color: #9d84ff;
    font-size: 1.2rem;
    margin-right: 1rem;
    transition: 0.5s ease;
}
.email-container {
  position: relative; /* needed for absolute positioning of the underline */
  display: flex; /* needed for the underline to span the width of the container */
    width: fit-content;
   margin-top: 3rem;
}

.email-container:hover .arrowIcon {
  transform: rotate(45deg); /* rotate the arrow icon when hovering */
}

.email-container::before {
  content: "";
  position: absolute;
  bottom: -12px; /* adjust this value to position the underline */
  left: 0;
  width: 0%;
  height: 2px; /* adjust this value to change the thickness of the underline */
  background-color: #9d84ff; /* adjust this value to change the color of the underline */
  transition: width 0.5s ease; /* animate the width of the underline */
}

.email-container:hover::before {
  width: 100%; /* expand the width of the underline when hovering */
}
.contact-icons-container{
    margin-top: 3rem;
    display:flex;
    gap: 4rem;
}
.contact-Icons{
    width: 5.4rem;
    height: 5.4rem;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
   opacity: 0.48;
    cursor: pointer;
   background-color: transparent;
   transition: 0.5s ease;
}
.contact-Icons:hover {
    opacity: 1;
}
.contact-Icons:hover .contact-icons-background {
    color: #9d84ff !important;
    width: 4.4rem;
    height: 4.4rem;
    
}

.contact-icons-icons {
    z-index: 1;
    font-size: 1.6rem;
    position: relative;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    overflow-clip-margin: content-box;
    overflow: clip;
}
.contact-icons-background {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(157, 132, 255, 0.4);
    border-radius: 1000rem;
    background-color: rgba(157, 132, 255, 0.16);
    transition: 0.5s ease;
}
.contactGradient {
    position: absolute;
        left: 40%;
    top: -35rem;
    right: 10%;
    bottom: auto;
    z-index: 0;
    width: 104rem;
    height: 104rem;
    border-radius: 50%;
    background-image: radial-gradient(circle farthest-corner at 40% 50%, #9d84ff, #9d84ff 0%, rgba(5, 10, 24, 0) 50%);
    opacity: 0.64;
}


.right-side {
    z-index: 3;
    background-color: rgb(6, 11, 25);
    width: 40%;
    display: flex;
    align-content: center;
    justify-content: center;
  min-height: 300px;
}

.formulario-contacto {
 
display: flex;
margin-top: auto;
margin-bottom: auto;
width: 70%;
flex-direction: column;
 animation: drop-in 1200ms ease 500ms backwards;

}
@keyframes drop-in {
 from {
  opacity: 0;
  transform: translateY(-100px);
 }
 to {
  opacity: 1;
  transform: translate(0px);
 }
}

.etiquetas-formulario {
    color: #9d84ff;
    font-weight: 200;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    margin-bottom: 0.5rem;
}


.input-formulario{
    background-color: hsla(0, 0%, 100%, 0.04);
    color: white;
    padding: 1rem 1.6rem;
    border: 1px solid rgba(157, 132, 255, 0.16);
    border-radius: 1rem;
    margin-bottom: 2rem;
}
.input-formulario::placeholder {
    color: rgb(170, 170, 170);
}
.input-formulario:hover {
    border-color: #9d84ff;
}
.input-formulario:focus {
    border-color: #9d84ff;
}
.input-formulario:focus-visible {
   outline: none; 
    
}
.formulario-contacto{
    
}


.submit-formulario:hover {
    background-color: #9d84ff;
    
}
@media only screen and (max-width: 1200px) {
  .header {
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 0;
   
  }
  .tituloh1 {
    text-align: center;
  }

  .left-side {
    padding-top: 7rem;
    padding-bottom: 7rem;
    width: 100%;
    align-items: center;
    order: 1; /* Change order of left-side to appear after right-side */
  }
.badger-class{
  align-self: start;margin-left: 4.6rem;
}
  .right-side {
    width: 100%;
    
    align-items: center;
    padding-left: 0;
    
    order: 2 /* Change order of right-side to appear before left-side */
  }
  .formulario-contacto {
    width: 50%;
    padding-bottom: 4rem;
  }
  .contactGradient {
    position: absolute;
    left: 70%;
    top: -12%;
    
    z-index: 0;
    
    bottom: auto;
    width: 50rem;
    height: 50rem;
}
}
@media only screen and  (max-width: 700px) {
    .formulario-contacto {
    width: 90%;
    padding-bottom: 4rem;
  }

    .badger-class{
        margin-bottom: 3rem;
        margin-left: 4.6rem;
        align-self: start;
    }
    .header h1 {
        font-size: 4rem;
        
        align-self: center;
        text-align: center;
    }
    .right-side {
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .contact-icons-container {
        justify-content: center;
        gap: 2.5rem;
    }
    .header {
        padding-left: 0;
    }
    .email-container{
        padding-left: 1rem;
        align-self: center;
    }

    .left-side {
        
       
    }
}