@font-face {
  font-family: sequel;
  src: url(./assets/sequel-100-black-85.ttf);
}
#wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
}

#wrapper > .shape {
  height: 30%;
  width: 30%;
  background-color: rgba(255 255 255 / 5%);
  position: absolute;
  transition: left, top, height, width, border-radius;
  transition-duration: 750ms;
  transition-timing-function: ease-in-out;
}

#wrapper > .shape:nth-child(1) {
  background-color: rgb(176, 190, 197);
  z-index: 2;
}

#wrapper > .shape:nth-child(2) {
  background-color: rgb(245, 245, 245);
  z-index: 2;
}

#wrapper > .shape:nth-child(3) {
  background-color: rgb(155, 93, 229);
  z-index: 1;
}

#wrapper > .shape:nth-child(4) {
  background-color: rgb(241, 91, 181);
  z-index: 2;
}

#wrapper > .shape:nth-child(5) {
  background-color: rgb(254, 228, 64);
  z-index: 2;
}

#wrapper > .shape:nth-child(6) {
  background-color: rgb(0, 187, 249);
  z-index: 2;
}

#wrapper > .shape:nth-child(7) {
  background-color: rgb(0, 245, 212);
  z-index: 2;
}

#wrapper[data-configuration="1"] > .shape:nth-child(1) {  
  left: 0%;
  top: 0%;
  height: 50%;
  width: 20%;
}

#wrapper[data-configuration="1"] > .shape:nth-child(2) {  
  left: 20%;
  top: 0%;
  height: 50%;
  width: 30%;
}

#wrapper[data-configuration="1"] > .shape:nth-child(3) {  
  left: 50%;
  top: 0%;
  height: 100%;
  width: 50%;
}

#wrapper[data-configuration="1"] > .shape:nth-child(4) {  
  left: 0%;
  top: 50%;
  height: 50%;
  width: 30%;
}

#wrapper[data-configuration="1"] > .shape:nth-child(5) {  
  left: 30%;
  top: 50%;
  height: 50%;
  width: 20%;
}

#wrapper[data-configuration="1"] > .shape:nth-child(6) {  
  left: 70%;
  top: 50%;
  height: 50%;
  width: 30%;
}

#wrapper[data-configuration="1"] > .shape:nth-child(7) {  
  left: 85%;
  top: 75%;
  height: 25%;
  width: 15%;
}

#wrapper[data-configuration="2"] > .shape:nth-child(1) {
  left: 25%;
  top: 20%;
  height: 80%;
  width: 15%;
}

#wrapper[data-configuration="2"] > .shape:nth-child(2) {  
  left: 40%;
  top: 20%;
  height: 50%;
  width: 10%;
}

#wrapper[data-configuration="2"] > .shape:nth-child(3) {  
  left: 50%;
  top: 0%;
  height: 100%;
  width: 25%;
}

#wrapper[data-configuration="2"] > .shape:nth-child(4) {  
  left: 0%;
  top: 0%;
  height: 50%;
  width: 10%;
}

#wrapper[data-configuration="2"] > .shape:nth-child(5) {  
  left: 10%;
  top: 0%;
  height: 70%;
  width: 15%;
}

#wrapper[data-configuration="2"] > .shape:nth-child(6) {  
  left: 75%;
  top: 10%;
  height: 80%;
  width: 15%;
}

#wrapper[data-configuration="2"] > .shape:nth-child(7) {  
  left: 90%;
  top: 40%;
  height: 60%;
  width: 10%;
}

#wrapper[data-configuration="3"] > .shape:nth-child(1) {
  left: 0%;
  top: 16.5%;
  height: 32%;
  width: 20%;
}

#wrapper[data-configuration="3"] > .shape:nth-child(2) {  
  left: 20%;
  top: 2.7%;
  height: 55%;
  width: 34%;
}

#wrapper[data-configuration="3"] > .shape:nth-child(3) {  
  left: 38%;
  top: 0%;
  height: 100%;
  width: 62%;
}

#wrapper[data-configuration="3"] > .shape:nth-child(4) {  
  left: 0%;
  top: 47.3%;
  height: 55%;
  width: 34%;
}

#wrapper[data-configuration="3"] > .shape:nth-child(5) {   
  left: 34%;
  top: 56.4%;
  height: 32%;
  width: 20%;
}

#wrapper[data-configuration="3"] > .shape:nth-child(6) {  
  left: 66%;
  top: 45%;
  height: 55%;
  width: 34%;
}

#wrapper[data-configuration="3"] > .shape:nth-child(7) {  
  left: 80%;
  top: 68%;
  height: 32%;
  width: 20%;
}

#wrapper[data-roundness="1"] > .shape {   
  border-radius: 6rem; 
}

#wrapper[data-roundness="2"] > .shape {  
  border-radius: 0rem;
}

#wrapper[data-roundness="3"] > .shape {  
  border-radius: 30rem;
}

#wrapper[data-roundness="4"] > .shape:nth-child(1) {  
  border-bottom-left-radius: 10rem;
}

#wrapper[data-roundness="4"] > .shape:nth-child(2) {  
  border-radius: 20rem;
}

#wrapper[data-roundness="4"] > .shape:nth-child(3) {  
  border-top-right-radius: 12rem;
}

#wrapper[data-roundness="4"] > .shape:nth-child(4) {  
  border-top-right-radius: 10rem;
  border-bottom-right-radius: 10rem;
}

#wrapper[data-roundness="4"] > .shape:nth-child(5) {  
  border-bottom-left-radius: 10rem;
}

#wrapper[data-roundness="4"] > .shape:nth-child(6) {  
  border-top-left-radius: 16rem;
}

#wrapper[data-roundness="4"] > .shape:nth-child(7) {  
  border-top-left-radius: 10rem;
}

/* -- YouTube Link Styles -- */

body.menu-toggled > .meta-link > span {
  color: rgb(30, 30, 30);
}

#source-link {
  bottom: 60px;
}

#source-link > i {
  color: rgb(94, 106, 210);
}

#yt-link > i {
  color: rgb(239, 83, 80);
}
main::-webkit-scrollbar {
  display: none;
}

.meta-link {
  align-items: center;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  bottom: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;  
  display: inline-flex;
  gap: 5px;
  left: 10px;
  padding: 10px 20px;
  position: fixed;
  text-decoration: none;
  transition: background-color 400ms, border-color 400ms;
  z-index: 10000;
}

.meta-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.meta-link > i, .meta-link > span {
  height: 20px;
  line-height: 20px;
}

.meta-link > span {
  color: white;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}
.sinpadding {
  padding: 0 !important;
}
.contact {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 3rem 4rem;

}
.contact p {
  transition: transform 0.5s ease;
}
.contact:hover p {
  color:white;
  transform: translateY(-20px);
}
.mano-saludo {
  width: fit-content;
  color: rgb(167, 167, 167);
  font-size: 2rem;
  margin-bottom: 2rem;
  transition: transform 0.5s ease;
}
.contact:hover .mano-saludo {
  color:white;
  transform: translateY(-20px) rotate(45deg) ;
  
}

.work-left-bottom {
  color: white;
  font-family: sequel;
  font-size: 2rem;
  display: flex;
  width: 100%;

  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  
}
.about-go-section {
  padding: 0 !important;
}
.about-left-bottom {
  color: white;
  font-family: sequel;
  font-size: 3rem;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding-left: 2rem;
  padding-right: 2rem;
}
.work-content-wrapper {
  color: white;
  font-family: sequel;
  font-size: 2rem;
  display: flex;
  width: 100%;
  height: fit-content;
position: relative;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}

.go-work-first h4 {
  margin: 0;
}
.go-work-second h4 {
  margin: 0;
}
.go-work-first {
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: fit-content;
  transition: transform 0.7s ease;
}
.go-work-second {
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: fit-content;
  position: absolute;  
  transform: translateY(50px);

  transition: transform 0.7s ease;
}

.work-left-bottom:hover .go-work-first{
  transform: translateY(-50px);
}
.work-left-bottom:hover .go-work-second{
 transform: translateY(0px);
}

.about-left-bottom:hover .cruz-about {
  transform: rotate(-45deg) translateX(-13px) translateY(-13px);
}
.cruz-about {
  font-size: 6rem;
  height: fit-content;
  transform: rotate(45deg);
  transition: transform 0.7s ease;
  
}

.go-about-wrapper {
  position: relative;
  height: fit-content;
  width: 9ch;
  overflow: hidden;
}
.go-about-first {
  transition: transform 0.7s ease;
}

.go-about-second {
  position: absolute;
  transition: transform 0.7s ease;
}

.about-left-bottom:hover .go-about-first {
  transform: translateY(-135px);
}
.about-left-bottom:hover .go-about-second {
  transform: translateY(-105px);
}

@media only screen and (max-width: 570px) {
  
  .about-left-bottom {
    font-size: 1rem !important;
  }
  .cruz-about {
    font-size: 2rem;
  }
  .contact {
    padding: 1rem;
    width: 35ch;
    
  }
  
}

.btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  z-index: 7;
  border-radius: 50%;

  color: white;
  background: none;
  border: none;
  outline: none;
  padding: 20px 27px;
  
  text-transform: uppercase;
  font-size: 3rem
  ;
  cursor: pointer;
} 

.btn:hover .homepageintroicon {
  
  
  text-shadow: 0 0 5px #ffffff;
}




.text-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgb(6, 11, 25);
  z-index: 6;
  overflow: hidden;
}

.text-wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: -50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: default;
  z-index: 6;
}

.text {
  width: 300%;
  font-family: "Voyage";
  font-size: 5vw;
  text-transform: uppercase;
  opacity: 0.1;
  color: white;
}

@media only screen and (max-width: 1000px) { 
.text-wrapper{
  display: none;
}
.btn {
display: none;
}
.text-container {
  display: none;
}
}



 
.demo {
  width: 100px;
  height: 102px;
  border-radius: 100%;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  animation: spin 5s infinite linear;
}

.circle {
  width: 100%;
  height: 100%;
  position: absolute;
}

.circle:nth-of-type(1) {
  transform: rotate(0deg) translateX(5px);
}

.circle:nth-of-type(2) {
  transform: rotate(70deg) translateY(5px);
}

.circle:nth-of-type(3) {
  transform: rotate(140deg) translateY(-5px);
}

.circle:nth-of-type(4) {
  transform: rotate(210deg) translateX(-5px);
}

.circle:nth-of-type(5) {
  transform: rotate(280deg);
}

.inner {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 5px solid rgba(255, 255, 255, 0.7);
  border-right: none;
  border-top: none;
  background-clip: padding;
  box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.15);
  animation: spin 2s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}