@font-face {
  font-family: sequel;
  src: url(./assets/sequel-100-black-85.ttf);
}
.header-about {
    display: flex;
    padding-bottom: 2rem;
}
.image-container {
  position: relative;
  width: fit-content;
  border-top-left-radius: 1000rem;
  border-top-right-radius: 1000rem;
  overflow: hidden;
}
.image-container img {
  filter: sepia(60%);
  filter: saturate(30%);
  filter: opacity(65%);
}
.image-text-container {
  position: absolute;
  bottom: 4px;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  width: 100%;
  display: flex;
  white-space: nowrap;
}
.image-text-container p {
  color: white;
  font-size: 1.5rem;
  font-family: sequel;
  
}

.bi-dot {
  color: rgb(135, 113, 220) !important;
  font-size: 2rem;
 
}
.text-dot {
    width: 1rem;
    height: 1rem;
    margin-right: 2.4rem;
    margin-left: 2.4rem;
    border-radius: 50%;
    background-color: #9d84ff;
}
.container {
    display: flex;
    padding: 0;
    animation: move 12s infinite linear
}

.container p {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  
}

@keyframes move {
  to {
    transform: translateX(-50%);
  }
}
.image-text-container {
    /* From https://css.glass */
background: rgba(142, 142, 142, 0.26);

box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.9px);
-webkit-backdrop-filter: blur(6.9px);

}
.tituloh1about {
font-family: sequel;
    font-weight: 400;
    font-size: 7rem;
    color: white;
    line-height: 6rem;
    max-width: 15ch; animation: drop-in 1200ms ease 500ms backwards;
}
@keyframes drop-in {
 from {
  opacity: 0;
  transform: translateY(-100px);
 }
 to {
  opacity: 1;
  transform: translate(0px);
 }}
.about-section{
    overflow-y: scroll;
    overflow-x: hidden;
}
.about-section::-webkit-scrollbar {
  display: none;
}
.about-header {
    padding-top: 10rem;
    padding-left: 6rem;
    padding-bottom: 7rem;
    position: relative;
}

.badger-class-ABOUT {
    color: rgb(135,113,220);
    font-size: 1.2rem;
    padding: 4px 10px;
    border: solid 1px;
    border-color: #9d84ff;
    border-radius: 40px;
    margin-bottom: 2rem;
    width: fit-content;
    font-weight: 500;
    animation: drop-in 1200ms ease 500ms backwards;
}

.face {
  position: absolute;
  top: 60px;
  right: 120px;
  width: 250px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #333;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
   animation: drop-in 1200ms ease 500ms backwards;
}
.face::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 95px;
  height: 85px;
  border: 3px solid #333;
  z-index: -1
}
.face::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
   width: 95px;
  height: 85px;
  border: 3px solid #333;
  z-index: -1
}
.eyes {
  position: relative;
  top: 0;
  display: flex;
}
.eyes .eye{
  position: relative;
  width:80px;
  height: 80px;
  display: block;
  background: #fff;
  margin: 0 25px;
  border-radius: 50%;
}
.eyes .eye::before {
  content:"";
  position: absolute;
  top: 43%;
  left: 25px;
  transform: translate(50%, 50%);
  width: 30px;
  height: 30px;
  background: #333;
  border-radius: 50%;
}
.left-side-about {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: drop-in 1200ms ease 500ms backwards;
}
.apagalaradio{
    max-width: 50ch;
}

.right-side-about {
    
    background-color: rgb(6, 11, 25);
    width: 40%;
    animation: drop-in 1200ms ease 500ms backwards;
   
}
.header::-webkit-scrollbar {
  display: none;
}
@media only screen and (max-width: 1200px) {
  .face {
    display: none;
  }
  .about-header {
    padding-left: 1rem;
    padding-top: 3rem;
  }
  .tituloh1about {
    font-size: 3rem;
    width: 100% !important;
    margin-right: 0;
  }
    .header-about {
        display: flex;
       gap:2rem;
 justify-content: space-between;
    padding-left: 4rem;
    
  }

  .left-side-about {
    padding-top: 0;
    padding-bottom: 0rem;
    width:40%;

   
  }
  
  .right-side-about {
    padding-left: 0;
    padding-right: 0rem;
     padding-bottom: 0rem;
      padding-top: 0rem;
      width:60% !important;
    
  }
  .right-side-about {
    padding-left: 0;
  }
  
}
@media only screen and (max-width: 1000px) {
  .face {
    display: none;
  }
  .about-header {
    padding-left: 1rem;
    padding-top: 3rem;
  }
  .tituloh1about {
    font-size: 2.2rem
    !important;
    width: 8ch !important;
    line-height: 2.5rem;
   
  }
  

    .header-about {
    flex-direction: column;
    
  }

  .left-side-about {
    padding-top: 0;
    padding-bottom: 2rem;
    width: 100%;
    order: 2; /* Change order of left-side to appear after right-side */
  }
  
  .right-side-about {
    padding-left: 0;
    padding-right: 1rem;
     padding-bottom: 2rem;
      padding-top: 0rem;
    width: 100%;
    order: 1 /* Change order of right-side to appear before left-side */
  }
  .right-side-about {
    padding-left: 0;
  }
  
}
@media only screen and (max-width: 600px) {
  .face {
    display: none;
  }
  .about-header {
    padding-left: 1rem;
    padding-top: 3rem;
  }
  .tituloh1about {
    font-size: 2.2rem
    !important;
    width: 8ch !important;
    line-height: 2.5rem;
  }
    .header-about {
    flex-direction: column;
    padding-left: 1rem;
  }

  .left-side-about {
    padding-top: 0;
    padding-bottom: 2rem;
    width: 100%;
    order: 2; /* Change order of left-side to appear after right-side */
  }
  .right-side-about img {
    width: 300px;
  }
  .right-side-about {
    padding-left: 0;
    padding-right: 1rem;
     padding-bottom: 2rem;
      padding-top: 0rem;
    width: 100%;
    order: 1 /* Change order of right-side to appear before left-side */
  }
  .right-side-about {
    padding-left: 0;
  }
  
}
.spheres-container {
    width: 100%;
    height: 500px;
}
.badger-class-ABOUT {
    color: rgb(135,113,220);
    font-size: 1.2rem;
    padding: 4px 10px;
    border: solid 1px;
    border-color: #9d84ff;
    border-radius: 40px;
    margin-bottom: 2rem;
    width: fit-content;
    font-weight: 500;
    
}
