name: Build and Deploy to GitHub Pages on Push

on:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Build and Deploy
        uses: CarlosGozalbes/github-pages-deploy-action@master
        env:
          EMAILJS_API: ${{ secrets.EMAILJS_API }}
          EMAILJS_SERVICE: ${{ secrets.EMAILJS_SERVICE }}
          EMAILJS_TEMPLATE: ${{ secrets.EMAILJS_TEMPLATE }}
          BRANCH: gh-pages
          FOLDER: public
          BUILD_SCRIPT: yarn && yarn run build
